<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand" href="#">Github Search</a>
        </div>

    </div>
</nav>
<div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
          <profile></profile>
        </div> 
        
    </div>

</div>